main{
    top:6em;
    position: relative;
    height: auto;
    overflow: auto;
    /*border: 2px solid red;*/
}
.cover{
    position: relative;
    /*margin: 6em 20px 20px 17% ;*/
    top:0em;
    margin-left:auto;
    margin-right:auto; 
    margin-bottom:20px;  
    border: 1px solid black;
    width: 853px;
}
.profile_pic{
    position: absolute;
    top: 12em;
    left: 21%;
    height: 170.5px;
    width:170.5px;
    
    
}
img.pp,img.cp{
    position: relative;
    border: 2.5px solid white;  
}
.bio{
    position: relative;
    border: 1px solid  black;
    border-radius: 5px;
    width: 20%;
    height: 30%;
    margin-top:50px;
    left: 18%;
}
.bio_title{
    position: relative;
    width: 93%;
    margin-left: auto;
    margin-right: auto;
    padding-left: 10px;
    font-size:20px;
    /*border:2px solid  red;*/
    border-bottom: 1px solid rgba(0,0,0,0.2);
}
.title span{
    margin-right:5px; 
}
.page-footer{
    margin-top:100px; 
}
.info{
    padding-left:20px;
    padding-right: 20px;
    margin :  auto;
    margin-top: 20px;
    height : auto;
    overflow : hidden;
    width:80%;
    border:None;
}
.contents{
    top:0;
    width:87%;
    margin-left: 20px;
    margin-bottom: 20px;
    margin-top:0px; 
}
.all_blogs{
    top: -200px;
    /* border: 2px solid red; */
    position: relative;
    left: 38%;
    width: 50%;
}
.blog-details li{
    font-size: 14px;
}
.title{

    white-space: nowrap; 
    font-size: 40px;
    margin-top: 20px;
    margin-right: 20px;
    /*width: 300px;*/
    /*border: 2px solid red;*/
    display: block;
    overflow: hidden;
    text-overflow: ellipsis;
}
.update_pic{
    position: relative;
    width: 168px;
    height: 35%;
    bottom: 35%;
    text-align: center;
    padding-left: 5px;
    padding-right: 5px;
    background-color:rgba(0,0 ,0 , 0.3);
    color: white;
    transform: scaleY(0);
    transform-origin: bottom;
    /*border: 1px solid red; */
    transition: transform 0.5s;
    cursor: pointer;
}
.update_pic span{
    margin-right: 5px;
}
.profile_pic:hover .update_pic{
    transform: scaleY(1);
}
.update_pic:hover{
    background-color:rgba(0,0 ,0 , 0.5);
    cursor: pointer;
}
.spinner{
    position: absolute;
    width: 168px;
    height: 168px;
    background-color: rgba(255, 255, 255, 0.5);
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    margin: 0px;
    
    display: none;
    z-index: 2;
    font-size: 50px;
}
.fa-spinner{
    position: absolute;
    top: 40%;
    left: 40%;
    transform: translate(-50%,-50%);
}
.val,.icons{
    
    
    
    position: relative;
    height: 100%;
    font-size: 20px;
    float: left;
}
.val{
    width: 80%;
    padding: 5px;
    color: #29b6f6;
    
}
.icons{
    width: 20%;
    text-align: center;
    padding-top: 10px; 
    color: #26a69a;

}
.phone,.mail,.city,.hobby,.quote{
    position: relative;
    /*border: 1px solid green;*/
    height: 20%;
    width: 100%;
    margin-top: 5px;
}
.plus{
    margin-right: 5px;
}
.edit-bio{
    float: right;
    position: relative;
    margin-top:5px;
    margin-bottom: 10px;
    margin-right: 15px;
    color: #01579b;
}