<html>
    <head>
            {% load staticfiles %}
            <link rel="stylesheet" type="text/css" href="{% static 'posts/style7.css' %}"/>
    </head>
     <div id="modal3" class="modal">
                    <div class="modal-content">
                        <div class="card-panel blue white-text"><h5>SIGN UP</h5></div>
                        <div class="row">
                            <form class="col s12" action="{% url 'posts:registration' %}" method="post" enctype="multipart/form-data">
                                {% csrf_token %}
                                <div>
                                    <p class="err center-align red lighten-1 white-text">Username already taken</p>
                                </div>
                                <div class="row">
                                    <div class="input-field col s11"> 
                                        <input id="USERNAME3" type="text" class="validate tooltipped" 
                                        data-position="top" 
                                        data-tooltip="Usernames may contain alphanumeric, _ , @ , + , . and - characters." 
                                        name="username" autocomplete="off">
                                            <label class="active"  for="USERNAME">UserName</label> 
                                       
                                    </div>
                                         <div class=" icon col s1"> <i class="fa fa-times" aria-hidden="true"></i></div>   
                                </div>
                                <div>
                                    <p class="e-err center-align red lighten-1 white-text">E-mail already taken</p>
                                </div>
                                <div class="row">
                                    <div class="input-field col s11">
                                        <input id="email3" type="email" name="email" class="validate">
                                        <label for="email">Email</label>
                                    </div>
                                    <div class=" icon col s1"> <i class="fa fa-times" aria-hidden="true"></i></div>
                                    
                                </div>
                                <div class="row">
                                    <div class="input-field col s11">
                                        <input id="PASSWORD3" type="password" class="validate tooltipped" 
                                        data-position="top" 
                                        data-tooltip="Password should contain at least 1 digit.
                                         It must be greater than 8 characters" 
                                        name="password" autocomplete="off">
                                        <label class="active" for="PASSWORD">Password</label>
                                    </div>
                                    <div class=" icon col s1"> <i class="fa fa-times" aria-hidden="true"></i></div>
                                    
                                </div>
                                <button class="btn-large waves-effect waves-dark reg disabled"  type="submit" style="width:50%">REGISTER</button>
                            </form>
                                                    
                        </div>    
                    </div>
                </div>
<script>
        $(document).ready(function(){
            $('.tooltipped').tooltip();
          });
          $('#USERNAME3').change(function(e){
            var name=$(this).val();
            console.log(name);
            $.ajax({
                url:'{% url "posts:check" %}',
                data:{
                    'name':name,
                },
                dataType:'json',
                success:function(data){
                    if(data.is_taken){
                        $('#USERNAME3').parent().next('.icon').children('.fa').removeClass('fa-check');
                        $('#USERNAME3').parent().next('.icon').children('.fa').addClass('fa-times');
                        $('#USERNAME3').parent().next('.icon').css("display","block");
                        $('.err').css("display","block");
                        //alert("Username already taken");  
                    }
                    else{
                        $('.err').css("display","none");
                        name=name.toUpperCase();
                        var k=0,i;
                        for(i=0;i<name.length;i++){
                            ch=name.charAt(i);
                            if((ch>='A' && ch<='Z')|| (ch>='0' && ch<='9')|| ch==='_' ||ch==='@'||ch==='+'||ch==='.'||ch==='-'){
                                continue;
                            }
                            else{
                                k=1;
                            }
                        }
                        console.log(k);
                        if(k==0){
                            $('#USERNAME3').parent().next('.icon').children('.fa').removeClass('fa-times');
                            $('#USERNAME3').parent().next('.icon').children('.fa').addClass('fa-check');
                            $('#USERNAME3').parent().next('.icon').css("display","block"); 
                        }
                        else{
                            $('#USERNAME3').parent().next('.icon').children('.fa').removeClass('fa-check');
                            $('#USERNAME3').parent().next('.icon').children('.fa').addClass('fa-times');
                            $('#USERNAME3').parent().next('.icon').css("display","block");
                        }
                        
                    }
                }
            });
        });
        $('#USERNAME3').keyup(function(e){
            var num=document.getElementsByClassName("fa-check").length;
            if(num==3){
                $('.reg').removeClass("disabled");
            }
            else{
                $('.reg').addClass("disabled");
            }           
        });
        $('#email3').change(function(e){
            var x,k=0,v=0;
            x=$(this).val();
            var atpos = x.indexOf("@");
            var dotpos = x.lastIndexOf(".");
            if (atpos<1 || dotpos<atpos+2 || dotpos+2>=x.length) {
                k=1;
            }
                if(k==1){
                    $('.e-err').css("display","none");
                    $('#email3').parent().next('.icon').children('.fa').removeClass('fa-check');
                    $('#email3').parent().next('.icon').children('.fa').addClass('fa-times');
                    $('#email3').parent().next('.icon').css("display","block");
                }
                else{
                    $.ajax({
                        url:'{% url "posts:echeck" %}',
                        data:{
                            'mail':x,
                        },
                        dataType:'json',
                        success:function(data){
                            if(data.is_taken){
                                console.log(data.is_taken);
                                $('.e-err').css("display","block");
                                $('#email3').parent().next('.icon').children('.fa').removeClass('fa-check');
                                $('#email3').parent().next('.icon').children('.fa').addClass('fa-times');
                                $('#email3').parent().next('.icon').css("display","block");
                            }
                            
                            else{
                                $('.e-err').css("display","none");
                                $('#email3').parent().next('.icon').children('.fa').removeClass('fa-times');
                                $('#email3').parent().next('.icon').children('.fa').addClass('fa-check');
                                $('#email3').parent().next('.icon').css("display","block");
                      
                            }
                        
                        }
                    });                           
               }
        });
        $('#email3').keyup(function(e){
            var num=document.getElementsByClassName("fa-check").length;
            if(num==3){
                $('.reg').removeClass("disabled");
            }
            else{
                $('.reg').addClass("disabled");
            }
        });
        $('#PASSWORD3').keyup(function(e){
            var pass=$('#PASSWORD3').val();
            var m=0;
            for(i=0;i<pass.length;i++){
                ch=pass.charAt(i);
                if(ch>='0' && ch<='9'){
                    m=1;
                    break;
                }
            }
            console.log(pass.length);
            console.log(m);
            if(m==1 && pass.length>8){
                $('#PASSWORD3').parent().next('.icon').children('.fa').removeClass('fa-times');
                $('#PASSWORD3').parent().next('.icon').children('.fa').addClass('fa-check');
                $('#PASSWORD3').parent().next('.icon').css("display","block");
            }
            else{
                $('#PASSWORD3').parent().next('.icon').children('.fa').removeClass('fa-check');
                $('#PASSWORD3').parent().next('.icon').children('.fa').addClass('fa-times');
                $('#PASSWORD3').parent().next('.icon').css("display","block");               
            }
            var num=document.getElementsByClassName("fa-check").length;
            if(num==3){
                $('.reg').removeClass("disabled");
            }
            else{
                $('.reg').addClass("disabled");
            }
        });
        

</script>
</html>